---
title: 'Josep Egea - Empresario, desarrollador Ruby on Rails y Fotógrafo'
kind: general_info
canonical_identifier: '/'
language: es
---
<h1>La Web de Josep Egea </h1>

<p>¡Gracias por visitar mi web!</p>

<p>Aquí encontrás atículos, fotos y noticias sobre mis proyectos.</p>

<p>Si quieres más detalles sobre mí, consulta la página <%= l_link_to("Acerca de Josep", '/about/') %></p>

<% if (news = get_last_news) && news.size > 0 %>

<h2>Últimos artículos</h2>

	<ul>
		
	<% news.each do |art| %>
		<li>
			<%= l_link_to(art[:title], art[:canonical_identifier])%>
		</li>
	<% end %>
	
	</ul>

<% end %>



