---
title: 'Josep Egea - Empresario, desarrollador Ruby on Rails y Fotógrafo'
kind: general_info
canonical_identifier: '/'
language: es
---
<h1>La Web de Josep Egea </h1>

<div class="abstract">
	<p>
		Emprendedor, informático y fotógrafo, en el orden en que prefieras.
	</p>
</div>

<p>Aquí encontrarás escritos, fotos y noticias sobre mis proyectos.</p>

<div class="notice">
	<h2>Proyectos en Ruby on Rails</h2>
	<p>
	En la actualidad soy programador web <strong>freelance</strong> con experiencia en <strong>Ruby on Rails</strong>. 
	</p>
	<p>Si necesitas ayuda en algún proyecto, <%= l_link_to "contacta conmigo", '/about/contact' %>. Puedes ver más detalles <%= l_link_to "aquí", "/about/tech_bio" %>.
	</p>
</div>

<p>Si quieres más detalles sobre mí, consulta la página <%= l_link_to("Acerca de Josep", '/about/') %></p>

<% if (news = get_last_news) && news.size > 0 %>

<h2>Últimos artículos del Blog</h2>

	<ul class="article-list">
		
	<% news.each do |art| %>
		<li class="article-item">
			<%= render 'partials/article_item', :article => art %>
		</li>
	<% end %>
	
	</ul>

<% end %>



