---
title: 'Josep Egea - Empresario, desarrollador Ruby on Rails y Fotógrafo'
kind: general_info
canonical_identifier: '/'
language: es
---
<h1>La Web de Josep Egea </h1>

<div class="abstract">
	<p>
		Emprendedor, desarrollador de software y fotógrafo, en el orden en que prefieras.
	</p>
</div>

<ul>
  <li>
    Soy <%= l_link_to "desarrollador de software freelance", "/about/tech_bio" %>, especializado en <b>Ruby on Rails</b>
  </li>
  <li>
    Necesitas mi <a href="/cv">CV</a>?
  </li>
  <li>
    Y un a <%= link_to "fotógrafo irredento!", "https://www.flickr.com/photos/evadium/" %> Aquí tienes algunas de <%= link_to "mis fotos", "https://www.flickr.com/photos/evadium/" %>
  </li>
  <li>
    También escribo un <%= l_link_to "Blog", "/blog/" %>
  </li>
  <li>
    Más datos <%= l_link_to "sobre mí", "/about/" %>
  </li>
  <li>
    <%= l_link_to "Contacto", "/about/contact" %>
  </li>
</ul>

<% if (news = get_last_news) && news.size > 0 %>

<h2>Últimos artículos del Blog</h2>

	<ul class="article-list hanging">
		
	<% news.each do |art| %>
		<li class="article-item">
			<%= render 'partials/article_item', :article => art %>
		</li>
	<% end %>
	
	</ul>

<% end %>



