* {
  margin: 0px;
  padding: 0px; }

body {
  background: #fff;
  font-family: "Lucida Sans", "Lucida", sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

#container {
  background: #fff;
  position: relative;
  margin: 0;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 990px; }

#narrow-container {
  background: #fff;
  position: relative;
  margin: 0;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px; }

p {
  margin: 0.5em 0; }

a {
  text-decoration: none; }

a:link,
a:visited {
  color: #487fff; }

a:hover {
  text-decoration: underline; }

.lang-link {
  font-size: 24px; }

input, select, button, .button {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  /* padding:8px; */
  height: 42px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 3px solid #888; }

option {
  font-family: Helvetica, sans-serif; }

select {
  padding: 8px 30px 8px 8px;
  height: 48px;
  /* -webkit-appearance: menulist-button; */
  -webkit-appearance: menulist-button;
  /* -moz-appearance: none; */
  background-color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 3px solid #888; }

button, .button {
  -webkit-appearance: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  padding: 0px 8px;
  background-color: #3F8DD2;
  color: #fff;
  border: 1px solid #3F8DD2; }

button:hover, .button:hover {
  background-color: #2E6DB5; }

label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, sans-serif; }

#main {
  padding-top: 40px;
  padding-left: 280px;
  padding-right: 20px;
  padding-bottom: 20px;
  min-height: 450px; }
  #main h1, #main h2, #main h3 {
    position: relative;
    font-family: Georgia, Palatino, serif; }
  #main h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
    margin-bottom: 0.5em;
    position: relative; }
    #main h1 em, #main h1 i {
      font-style: normal;
      font-size: 32px;
      color: #888;
      margin-left: 4px; }
  #main h2 {
    margin-top: 40px;
    margin-bottom: 35px;
    font-size: 36px; }
  #main h3 + h4 {
    margin-top: 20px; }
  #main h4 {
    font-size: 20px; }
  #main p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.4em; }
  #main h4 + p {
    margin-top: 10px; }
  #main ul, #main ol {
    margin: 20px; }
  #main li {
    font-size: 15px;
    padding-bottom: 8px; }
  #main ul li {
    list-style-type: disc; }
  #main blockquote {
    font-family: Georgia, Palatino, serif;
    border-left: 16px solid #ddd;
    padding-left: 10px;
    font-style: italic;
    background-color: #fff;
    color: #777; }
    #main blockquote p {
      font-size: 24px;
      line-height: 1.8em; }
    #main blockquote p:first-letter {
      font-size: 32px;
      color: #ccc; }
  #main .abstract {
    font-family: Georgia, Palatino, serif;
    color: #777;
    line-height: 1.2em;
    background: #F5F9FD; }
    #main .abstract p {
      font-size: 16px;
      line-height: 1.2em;
      padding: 10px 4px 12px 12px;
      margin: 4px 0 20px; }
  #main .columns {
    column-count: 2;
    column-gap: 2em;
    padding: 16px 10px 16px 32px; }
    #main .columns ul {
      margin: 0px;
      padding: 0px; }
  #main table.timeline {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    color: #5a1e07;
    margin: 15px 0px 38px; }
    #main table.timeline td, #main table.timeline th {
      padding: 6px 4px;
      border-bottom: solid 1px; }
    #main table.timeline th {
      text-align: left;
      padding-top: 0px; }
      #main table.timeline th.timeline-tick {
        border-left: solid 2px; }
    #main table.timeline td {
      padding: 0px;
      vertical-align: top; }
      #main table.timeline td.timeline-tick {
        border-right: solid 2px; }
    #main table.timeline tr.time-slice {
      font-size: 13px;
      color: #441805;
      background-color: #FDF9F2; }
      #main table.timeline tr.time-slice td {
        padding: 4px; }
        #main table.timeline tr.time-slice td a {
          color: #441805; }
  #main .notice {
    font-family: Helvetica, sans-serif;
    color: #441805;
    line-height: 1.2em;
    background: #FDF9F2;
    border-left: solid 16px #a8958d;
    padding: 12px 8px 2px 12px; }
    #main .notice p {
      font-size: 14px;
      line-height: 1.2em;
      padding: 0;
      margin: 0.5em 0; }
    #main .notice h2 {
      font-size: 16px;
      color: #5a1e07;
      border-bottom: solid 2px;
      margin-bottom: 10px; }
  #main ul.article-list {
    margin-left: 0px; }
    #main ul.article-list li.article-item {
      list-style-type: none;
      padding-bottom: 24px;
      position: relative; }
  #main .article-item-header {
    font-family: Georgia, Palatino, serif;
    font-size: 24px; }
  #main .article-item-date {
    font-family: Georgia, Palatino, serif;
    font-size: 14px;
    color: #888; }
  #main .article-item-abstract {
    font-size: 14px; }
  #main ul.article-list.hanging .article-item-date {
    position: absolute;
    width: 190px;
    left: -200px;
    text-align: right;
    top: 6px; }
  #main .skills-box {
    display: inline-block;
    width: 45%;
    padding: 4px;
    margin-bottom: 6px;
    min-height: 15em;
    vertical-align: top;
    color: #441805;
    background-color: #FDF9F2; }
    #main .skills-box h3 {
      font-family: "Lucida Sans", "Lucida", sans-serif !important;
      font-size: 16px;
      color: #5a1e07;
      padding-left: 0px;
      padding-bottom: 6px;
      margin-left: 8px; }
    #main .skills-box ul li {
      font-size: 12px; }

#topbar {
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  top: 0px;
  text-align: right;
  font-size: 12px;
  padding: 8px 20px 8px 0px; }

#sidebar {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  padding: 20px 20px 0 0;
  text-align: right; }
  #sidebar h2 {
    font-size: 20px;
    font-family: Courier, monospace;
    color: #333;
    line-height: 1em; }
  #sidebar ul {
    list-style-type: none;
    margin: 20px 0;
    font-size: 14px; }
  #sidebar li {
    line-height: 20px; }
  #sidebar hr {
    border: none;
    border-top: 1px solid #ccc;
    color: #ccc;
    background-color: #ccc; }

#credits-main {
  display: block;
  text-align: center;
  border-top: solid 1px #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px; }
  #credits-main ul {
    text-align: center;
    margin: 10px 0; }
  #credits-main li {
    display: inline-block;
    text-align: center;
    padding: 0 12px 0 8px;
    border-right: solid 2px #ccc; }
  #credits-main li:last-child {
    border: none; }
  #credits-main hr {
    display: none; }

#logo-boxtop a {
  color: #444; }
#logo-boxtop a:hover {
  text-decoration: none; }

#logo {
  display: block;
  width: 200px;
  top: 0px;
  left: 0px;
  background-image: url(/images/jes_logo-200.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 106px;
  font-size: 24px;
  font-family: Courier, monospace; }
  #logo a:hover {
    text-decoration: none; }

#motto {
  font-size: 12px; }

#alt-logo-container #alternate-logo {
  display: block;
  width: 150px;
  height: 150px;
  padding: 0px;
  margin: 0px 0px 0px 50px;
  background-image: url(/images/jes_profile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  border-radius: 150px; }
#alt-logo-container a {
  display: block;
  font-size: 12px;
  text-align: right;
  margin-top: 12px; }

#subcription-form {
  padding-left: 280px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-image: url(/images/mail-envel-120.png);
  background-position: 140px 0px;
  background-repeat: no-repeat; }
  #subcription-form .form-container {
    font-family: Helvetica, sans-serif;
    background: #F5F9FD;
    color: #4f65a5;
    padding: 10px 12px 10px 12px;
    margin: 4px 0 0px;
    border-left: solid 16px #6e7eab; }
  #subcription-form .subscription-abstract {
    font-size: 16px;
    margin-bottom: 1em; }
  #subcription-form .subscription-assurance {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: #5b6a9c;
    padding: 2px 0px 16px; }

.field-group, .mc-field-group {
  display: inline-block;
  padding-right: 8px;
  padding-bottom: 10px; }

#comments-block {
  padding-left: 280px;
  padding-right: 40px;
  padding-bottom: 20px; }

#footer-credits {
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px; }

.cv {
  position: relative; }
  .cv h2 {
    padding-bottom: 8px; }
  .cv h3 {
    padding-top: 8px;
    border-bottom: solid 1px;
    position: relative; }
    .cv h3 i, .cv h3 em {
      position: absolute;
      display: block;
      left: -200px;
      width: 170px;
      text-align: right;
      font-weight: bold;
      font-style: normal;
      color: #666; }
      .cv h3 i a, .cv h3 em a {
        font-size: 11px;
        font-family: "Lucida Sans", "Lucida", sans-serif;
        font-weight: normal; }
    .cv h3 b, .cv h3 strong {
      font-size: 16px;
      color: #888;
      padding-left: 1em;
      display: block;
      font-weight: normal; }
  .cv .abstract ul {
    padding: 8px; }

.relative {
  position: relative; }

.icon-hang-left:before, .github:before, .website:before, .video:before {
  position: absolute;
  display: block;
  width: 24px;
  left: -48px;
  top: 0px;
  color: #888; }
  .icon-hang-left:before svg, .github:before svg, .website:before svg, .video:before svg {
    fill: currentColor; }

.github:before {
  content: url(/images/github_icon.svg); }

.website:before {
  content: url(/images/www_icon.svg);
  top: 4px; }

.video:before {
  content: url(/images/video_icon.svg); }

img.section-hero {
  width: 100%;
  position: relative;
  margin-bottom: -40px;
  mask-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 1%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 1%, rgba(0, 0, 0, 0.4) 60%, transparent 100%); }

img.section-hero2 {
  width: 100%;
  opacity: 30%;
  margin-bottom: -97px; }

@media screen {
  .page-break {
    margin-top: 60px !important; }

  .page-break:before {
    content: "\2022  \2022  \2022";
    display: block;
    margin: 0px auto 60px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: lightgray; } }
@media screen and (max-width: 720px) {
  #topbar {
    font-size: 10px;
    padding: 20px 8px 8px 0px; }

  #sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    padding: 0;
    border: none;
    text-align: center; }
    #sidebar ul {
      text-align: center;
      margin: 10px 0; }
    #sidebar li {
      display: inline-block;
      text-align: center;
      padding: 0 12px 0 8px;
      border-right: solid 2px #ccc; }
    #sidebar li:last-child {
      border: none; }
    #sidebar hr {
      display: none; }

  #main {
    width: auto;
    padding-top: 130px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
    min-height: 0px; }
    #main h1 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1px; }
      #main h1 em, #main h1 i {
        font-size: 24px; }
    #main ul.article-list.hanging .article-item-date {
      position: relative;
      width: auto;
      left: auto;
      text-align: left;
      top: auto; }
    #main .skills-box {
      font-size: 10px; }

  #narrow-container #main {
    padding-top: 60px;
    text-align: center; }

  #logo-container {
    text-align: center; }

  #logo-box {
    display: block;
    position: relative;
    padding: 4px; }

  #logo {
    height: 40px;
    width: 200px;
    top: 0px;
    left: 0px;
    background-image: url(/images/jes_logo-200.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 10px;
    padding-left: 100px;
    font-size: 18px;
    font-family: Courier, monospace;
    text-align: left; }

  #motto {
    position: absolute;
    top: 32px;
    left: 105px;
    height: 32px;
    padding: 0;
    font-size: 12px; }

  #alt-logo-container #alternate-logo {
    height: 50px;
    width: 50px;
    margin: 0px 0px 0px 10px;
    background-size: 50px;
    border-radius: 50px; }
  #alt-logo-container a {
    position: absolute;
    top: 10px;
    right: 20px; }

  #main-options {
    display: inline-block;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 8px 10px; }
    #main-options li {
      font-size: 16px; }

  #credits-sidebar {
    display: none; }

  #subcription-form {
    padding-left: 16px;
    background-image: none; }

  #comments-block {
    padding-left: 16px; }

  .cv h3 i, .cv h3 em {
    position: relative;
    display: block;
    left: 0px;
    width: auto;
    text-align: left; }
  .cv h3 b, .cv h3 strong {
    font-size: 16px;
    padding-left: 0px;
    display: block; } }
@media screen and (max-width: 480px) {
  #topbar {
    padding: 10px 8px 8px 0px; }

  #main-options li {
    font-size: 14px; } }
@media screen and (max-width: 320px) {
  #main-options li {
    font-size: 14px; } }
@media screen and (max-width: 850px) and (min-width: 721px) {
  #main {
    padding-right: 10px;
    padding-left: 174px;
    min-height: 450px; }
    #main h1 {
      font-size: 36px; }
      #main h1 em, #main h1 i {
        font-size: 24px; }

  #topbar {
    padding: 8px 10px 8px 0px; }

  #sidebar {
    left: 10px;
    width: 140px; }

  #logo {
    display: block;
    width: 140px;
    background-size: 140px;
    padding-top: 80px;
    font-size: 18px; }

  #motto {
    font-size: 12px; }

  #alt-logo-container #alternate-logo {
    height: 100px;
    width: 100px;
    margin: 0px 0px 0px 40px;
    background-size: 100px;
    border-radius: 100px; }
  #alt-logo-container a {
    font-size: 9px; }

  #subcription-form {
    padding-left: 180px;
    padding-right: 10px;
    background-position: 40px 0px; }

  #comments-block {
    padding-left: 180px;
    padding-right: 10px; }

  .cv h3 i, .cv h3 em {
    left: -170px;
    width: 150px;
    font-size: 14px; }
  .cv h3 b, .cv h3 strong {
    font-size: 14px; } }
@media print {
  #translate, #main-options {
    display: none; }

  #main p {
    font-size: 14px; }

  #container {
    width: 1024px;
    max-width: 1024px;
    margin: 0px; }

  .no-print {
    display: none; }

  .columns {
    margin-bottom: 20px; }

  .page-break {
    page-break-before: always;
    break-before: always; } }
