---
title: 'Blog de Josep Egea'
kind: general_info
canonical_identifier: '/blog/'
language: es
---
<h1>El Blog de Josep </h1>

<div class="abstract">
	<p>Uno de mis mentores me enseño que escribir es una de las mejores formas de meditar. Aquí encontrarás mis reflexiones sobre los temas que me interesan: emprender, la informática, la fotografía, la educación, los hijos, hábitos saludables y más.</p>
</div>

<% if (news = get_last_news(count:10)) && news.size > 0 %>

  <ul class="article-list">
		
	<% news.each do |art| %>
		<li class="article-item">
			<%= render 'partials/article_item', :article => art %>
		</li>
	<% end %>
	
	</ul>

<% end %>
