$body-font: "Lucida Sans", "Lucida", sans-serif;
$titles-font: Georgia, Palatino, serif;

$link-color 	:#487fff;
$body-color 	:#fff;
$page-color 	:#fff;

$blockquote-border-color 		:#ddd;
$blockquote-background-color 	:#fff;
$blockquote-text-color 			:#777;
$blockquote-first-text-color 	:#ccc;

$abstract-background-color 		:#F5F9FD;
$abstract-text-color 			:#777;

$notice-background-color		:#FDF9F2;
$notice-text-color				:#441805;
$notice-h2-color				:#5a1e07;
$notice-border-color			:#a8958d;

$separators-color 				:#ccc;

$small-phone-width 				:320px;
$phone-width 					:360px;
$max-phone-width 				:720px;
$tablet-width					:850px;
$desktop-width					:1280px;

$max-page-width					:990px;
$narrow-page-width				:500px;

$button-bg-color				:#3F8DD2;
$button-txt-color				:#fff;
$button-bg-color-hv				:#2E6DB5;

$hanging-color :#888;
$hanging-strong-color: #666;

$time-line-color :$notice-h2-color;
$time-slice-color :$notice-text-color;
$time-slice-background-color :$notice-background-color;



* {
	margin: 0px;
	padding: 0px;
}

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

body {
	background: $body-color;
	font-family: $body-font;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin basic-container {
	background: $page-color;
	position: relative;
	margin: 0;
	padding: 0;
	margin: 0;
	top: 0px;
	left: 0px;
	margin-left:auto;
	margin-right:auto;
}

@mixin horiz-list {
	ul {
		text-align:center;
		margin: 10px 0;
	}
	li {
		display:inline-block;
		text-align:center;
		padding:0 12px 0 8px;
		border-right: solid 2px $separators-color;
	}
	li:last-child {
		border:none;
	}
	hr {
		display:none;
	}
}

#container {
	@include basic-container;
	max-width: $max-page-width;
}

#narrow-container {
	@include basic-container;
	max-width: $narrow-page-width;
}

p {
	margin: 0.5em 0;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: $link-color;
}

a:hover {
	text-decoration:underline;
}

.lang-link {
	font-size:24px;
}

input, select, button, .button {
	font-size:16px;
	font-family: Helvetica, sans-serif;
	/* padding:8px; */
	height:42px;
	@include rounded-corners(8px);
	border:3px solid #888;
}

option {
	font-family: Helvetica, sans-serif;
}

select {
	padding: 8px 30px 8px 8px;
	height:48px;
	/* -webkit-appearance: menulist-button; */
	-webkit-appearance: menulist-button;
	/* -moz-appearance: none; */
	background-color:#fff;
	@include rounded-corners(8px);
	border:3px solid #888;
}

button, .button {
	-webkit-appearance: none;
	@include rounded-corners(8px);
	padding:0px 8px;
	background-color:$button-bg-color;
	color:$button-txt-color;
	border:1px solid $button-bg-color;
}

button:hover, .button:hover {
	background-color:$button-bg-color-hv;
}

label {
	display:block;
	font-weight: bold;
	font-size:14px;
	font-family: Helvetica, sans-serif;
}

#main {
	padding-top: 40px;
	padding-left: 280px;
	padding-right: 20px;
	padding-bottom: 20px;

	min-height: 450px;

  h1, h2, h3 {
    font-family: $titles-font;
  }

	h1 {
		font-size: 40px;
		font-weight: normal;
		line-height: 40px;
		letter-spacing: -1px;
		margin-bottom:0.5em;
	}

  h3 + h4 {
    margin-top:20px;
  }

  h4 {
    font-size:20px;
  }

	p {
		margin: 20px 0;
		font-size: 16px;
		line-height: 1.4em;
	}

  h4 + p {
    margin-top: 10px;
  }

	ul, ol {
		margin: 20px;
	}

	li {
		font-size: 15px;
    padding-bottom:8px;
	}

	ul li {
		list-style-type: disc;
	}

	blockquote {
    font-family: $titles-font;
		border-left: 16px solid $blockquote-border-color;
		padding-left: 10px;
		font-style: italic;
		background-color:$blockquote-background-color;
		color:$blockquote-text-color;
		p {
		  font-size: 24px;
			line-height: 1.8em;
		}

		p:first-letter {
			font-size:32px;
			color:$blockquote-first-text-color;
		}
	}

	.abstract {
    font-family: $titles-font;
		color:$abstract-text-color;
		line-height: 1.2em;
		background:$abstract-background-color;
		p {
		  font-size: 16px;
			line-height: 1.2em;
			padding:10px 4px 12px 12px;
			margin: 4px 0 20px;
		}
	}

  .columns {
    column-count: 2;
    column-gap: 2em;
    padding: 16px 10px 16px 32px;
    ul {
      margin: 0px;
      padding: 0px;
    }
  }

  table.timeline {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    color: $time-line-color;
    margin: 15px 0px 38px;
    td,th {
      padding: 6px 4px;
      border-bottom: solid 1px;
    }
    th {
      text-align: left;
      padding-top: 0px;
      &.timeline-tick {
        border-left: solid 2px;
      }
    }
    td {
      padding: 0px;
      vertical-align: top;
      &.timeline-tick {
        border-right: solid 2px;
      }
    }
    tr.time-slice {
      font-size: 13px;
      color: $time-slice-color;
      background-color: $time-slice-background-color;
      td {
        padding: 4px;
        a {
          color: $time-slice-color;
        }
      }
    }
  }

	.notice {
		font-family: Helvetica, sans-serif;
		color:$notice-text-color;
		line-height: 1.2em;
		background:$notice-background-color;
		border-left:solid 16px $notice-border-color;
		padding:12px 8px 2px 12px;
		p {
			font-size: 14px;
			line-height: 1.2em;
			padding:0;
			margin:0.5em 0;
		}
		h2 {
			font-size: 16px;
			color: $notice-h2-color;
			border-bottom: solid 1px;
			margin-bottom:10px;
		}
	}

  ul.article-list {
    margin-left: 0px;
    li.article-item {
      list-style-type: none;
      padding-bottom: 24px;
      position: relative;
    }
  }

  .article-item-header {
    font-family: $titles-font;
	  font-size:24px;
  }

  .article-item-date {
    font-family: $titles-font;
	  font-size: 14px;
    color: $hanging-color;
  }

  .article-item-abstract {
	  font-size:14px;
  }

  ul.article-list.hanging {
    .article-item-date {
      position: absolute;
      width: 190px;
      left: -200px;
      text-align: right;
      top: 6px;
    }
  }
}

#topbar {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 0px;
  text-align: right;
  font-size: 12px;
  padding: 8px 20px 8px 0px;
}

#sidebar {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 200px;
	padding: 20px 20px 0 0;
	text-align: right;

	h2 {
		font-size: 20px;
		font-family:Courier, monospace;
		color: #333;
		line-height: 1em;
	}

	ul {
		list-style-type: none;
		margin: 20px 0;
		font-size: 14px;
	}

	li {
		line-height: 20px;
	}

	hr {
		border: none;
		border-top: 1px solid $separators-color;
		color: $separators-color;
		background-color: $separators-color;
	}
}

#credits-sidebar {
}

#credits-main {
	display:block;
	text-align:center;
	border-top: solid 1px $separators-color;
	padding-top:10px;
	padding-bottom:10px;
  font-size: 10px;
	@include horiz-list;
}

#logo-boxtop {
	a {
		color:#444;
	}
	a:hover {
		text-decoration:none;
	}
}

#logo {
	display:block;
	width:200px;
	top:0px;
	left:0px;
	background-image:url(/images/jes_logo-200.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	padding-top:106px;
	font-size: 24px;
	font-family:Courier, monospace;

	a:hover {
		text-decoration:none;
	}
}

#motto {
	font-size:12px;
}

#subcription-form {
	padding-left: 280px;
	padding-right:40px;
	padding-bottom:40px;
	background-image: url(/images/mail-envel-120.png);
	background-position: 140px 0px;
	background-repeat:no-repeat;
	.form-container {
		font-family: Helvetica, sans-serif;
		background:$abstract-background-color;
		color:#4f65a5;
		padding:10px 12px 10px 12px;
		margin: 4px 0 0px;
		border-left:solid 16px #6e7eab;
	}
	.subscription-abstract {
		font-size:16px;
		margin-bottom:1em;
	}
	.subscription-assurance {
		font-family: Helvetica, sans-serif;
		font-size:12px;
		color:#5b6a9c;
		padding: 2px 0px 16px;
	}
}

.field-group, .mc-field-group {
	display:inline-block;
	padding-right: 8px;
	padding-bottom:10px;
}

#comments-block {
	padding-left: 280px;
	padding-right:40px;
	padding-bottom:20px;
}

#footer-credits {
	font-size: 10px;
	text-align:center;
	padding-top:10px;
	padding-bottom:40px;
}

.cv {
  h2 {
    padding-bottom:8px;
  }
  h3 {
    padding-top:8px;
    border-bottom:solid 1px;
    position:relative;
    i, em {
      position:absolute;
      display:block;
      left:-200px;
      width:170px;
      text-align:right;
      font-weight:bold;
      font-style:normal;
      color:$hanging-strong-color;
    }
    b, strong {
      font-size:16px;
      color:$hanging-color;
      padding-left:1em;
      display:block;
      font-weight: normal;
    }
  }
  .abstract {
    ul {
      padding:8px;
    }
  }
}

.relative {
  position: relative;
}

.icon-hang-left:before, .github:before, .website:before, .video:before {
  position: absolute;
  display:block;
  width:24px;
  left:-48px;
  top: 0px;
  color: $hanging-color;
  svg {
    fill: currentColor;
  }
}

.github:before {
  content: url(/images/github_icon.svg);
}

.website:before {
  content: url(/images/www_icon.svg);
  top: 4px;
}

.video:before {
  content: url(/images/video_icon.svg);
}

.skills-box {
  display: inline-block;
  width: 47%;
  padding: 4px;
  margin-bottom: 6px;
  min-height: 220px;
  vertical-align: top;
  color: $notice-text-color;
  background-color: $notice-background-color;
  h3 {
    font-size: 16px;
    color: $notice-h2-color;
  }
  ul {
    margin: 0px;
    font-size: 12px;
  }
}

@media screen and (max-width: $max-phone-width)
{
  #topbar {
    font-size: 10px;
    padding: 20px 8px 8px 0px;
  }

	#sidebar {
		position: absolute;
		top: 0px;
		left:0px;
		width: 100%;
		height: 60px;
		padding: 0;
		border:none;
		text-align: center;
		@include horiz-list;
	}

	#main {
		width: auto;
		padding-top: 130px;
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 20px;
		min-height: 0px;
		h1 {
			font-size: 32px;
			line-height: 32px;
			letter-spacing: -1px;
		}
    ul.article-list.hanging {
      .article-item-date {
        position: relative;
        width: auto;
        left: auto;
        text-align: left;
        top: auto;
      }
    }
	}

	#narrow-container {
		#main {
			padding-top: 60px;
			text-align:center;
		}
	}

	#logo-container {
		text-align:center;
	}

	#logo-box {
		display:block;
		position:relative;
    padding: 4px;
	}

	#logo {
		height:40px;
		width:200px;
		top:0px;
		left:0px;
		background-image:url(/images/jes_logo-200.jpg);
		background-position:top left;
		background-repeat:no-repeat;
		background-size:contain;
		padding-top:10px;
		padding-left:100px;
		font-size: 18px;
		font-family:Courier, monospace;
		text-align:left;
	}

	#motto {
		position:absolute;
		top:32px;
		left:100px;
		height:32px;
		padding:0;
		font-size:12px;
	}

	#main-options {
		display:inline-block;
		border-top: solid 1px $separators-color;
		border-bottom: solid 1px $separators-color;
		padding:8px 10px;

		li {
			font-size:16px;
		}
	}

	#credits-sidebar {
		display:none;
	}

	#subcription-form {
		padding-left: 16px;
		background-image: none;
	}

	#comments-block {
		padding-left: 16px;
	}

  .cv {
    h3 {
      i, em {
        position:relative;
        display:block;
        left:0px;
        width:auto;
        text-align:left;
      }
      b, strong {
        font-size:16px;
        $hanging-colorr:#888;
        padding-left:0px;
        display:block;
      }
    }
  }
}


@media screen and (max-width: $small-phone-width)
// This includes the phone CSS. Only additional adjustments need to be applied here.
{
	#main-options {
		li {
			font-size:14px;
		}
	}
}

@media screen and (max-width: $tablet-width) and (min-width: $max-phone-width + 1)
{
	#main {
		$hanging-color-left: 180px;
		padding-right: 10px;
	  padding-left: 174px;
		min-height: 450px;

		h1 {
			font-size: 36px;
		}
	}

  #topbar {
    padding: 8px 10px 8px 0px;
  }

	#sidebar {
		left: 10px;
		width: 140px;
	}

	#logo {
		display:block;
		width: 140px;
		background-size:140px;
		padding-top:80px;
		font-size: 18px;
	}

	#motto {
		font-size:12px;
	}

	#subcription-form {
		padding-left: 180px;
		padding-right: 10px;
		background-position: 40px 0px;
	}
	#comments-block {
		padding-left: 180px;
		padding-right: 10px;
	}

  .cv {
    h3 {
      i, em {
        left:-170px;
        width:150px;
        font-size:14px;
      }
      b, strong {
        font-size:14px;
      }
    }
  }
}

// Print using wide layout
@media print {
  #translate, #main-options {
    display: none;
  }

  #main p {
    font-size: 14px;
  }

  #container {
    width: 1024px;
    max-width: 1024px;
    margin: 0px;
  }

  .no-print {
    display: none;
  }

  .columns {
    margin-bottom: 20px;
  }

  .page-break {
    break-before: always;
  }
}
