---
title: 'Josep Egea - Entrepreneur, Ruby on Rails developer and Photographer'
kind: general_info
canonical_identifier: '/'
language: en
---
<h1>Josep Egea's Site </h1>

<div class="abstract">
	<p>
		Entrepreneur, IT guy, and photographer in no particular order.
	</p>
</div>
	
<p>Here you'll find my writings, pictures and news about my projects.</p>

<div class="notice">
	<h2>Ruby on Rails Contractor</h2>
	<p>
	I have a long experience as a <strong>Ruby on Rails</strong> developer and at this moment I can accept new projects as a <strong>freelancer</strong>.
	</p>
	<p>If you'd like to hire me, please <%= l_link_to "get in touch", '/about/contact' %>. More details <%= l_link_to "here", "/about/tech_bio" %>.
	</p>
</div>

<p>If you want to learn more about me, check my <%= l_link_to("About page", '/about/') %></p>

<% if (news = get_last_news) && news.size > 0 %>

<h2>Latest Blog Entries</h2>

	<ul class="article-list">
		
	<% news.each do |art| %>
		<li class="article-item">
			<%= render 'partials/article_item', :article => art %>
		</li>
	<% end %>
	
	</ul>

<% end %>



