---
title: 'Josep Egea - Entrepreneur, Ruby on Rails developer and Photographer'
kind: general_info
canonical_identifier: '/'
language: en
---
<h1>Josep Egea's Site </h1>

<div class="abstract">
	<p>
		Entrepreneur, software developer, and photographer in no particular order.
	</p>
</div>

<ul>
  <li>
    I'm a <%= l_link_to "freelance web software developer", "/about/tech_bio" %>, specializing in <b>Ruby on Rails</b>
  </li>
  <li>
    And also a <%= link_to "passionate photographer!", "https://www.flickr.com/photos/evadium/" %> Take a look at <%= link_to "my photos", "https://www.flickr.com/photos/evadium/" %>
  </li>
  <li>
    I have a <%= l_link_to "Blog", "/blog/" %> too!
  </li>
  <li>
    More <%= l_link_to "about me", "/about/" %>
  </li>
  <li>
    <%= l_link_to "Contact info", "/about/contact" %>
  </li>
</ul>

<% if (news = get_last_news) && news.size > 0 %>

<h2>Latest Blog Entries</h2>

	<ul class="article-list">
		
	<% news.each do |art| %>
		<li class="article-item">
			<%= render 'partials/article_item', :article => art %>
		</li>
	<% end %>
	
	</ul>

<% end %>



