---
title: 'Josep Egea - Entrepreneur, Ruby on Rails developer and Photographer'
kind: general_info
canonical_identifier: '/'
language: en
---
<h1>Josep Egea's place </h1>

<p>Thanks for visiting my site!</p>

<p>Here you'll find my writings, pictures and news about my projects.</p>

<p>If you want to learn more about me, check my <%= l_link_to("About page", '/about/') %></p>

<% if (news = get_last_news) && news.size > 0 %>

<h2>Latest Articles</h2>

	<ul>
		
	<% news.each do |art| %>
		<li>
			<%= render 'partials/article_item', :article => art %>
		</li>
	<% end %>
	
	</ul>

<% end %>



